language: node_js
node_js:
  - 12

services:
  - docker

# Pre-testing installs
install:
  - echo "nothing needs to be installed"

script:
  # print the version for logging
  - docker --version

  # Build
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker build -t udagram-api-user ./udagram-api-user
  - docker build -t udagram-frontend ./udagram-frontend
  - docker build -t udagram-reverseproxy ./udagram-reverseproxy

  # Tagging
  - docker tag udagram-api-feed jwizerd/udagram-api-feed:v1.2
  - docker tag udagram-api-user jwizerd/udagram-api-user:v1.2
  - docker tag udagram-frontend jwizerd/udagram-frontend:v1.2
  - docker tag udagram-reverseproxy jwizerd/udagram-reverseproxy:v1.2

after_success:
  # Push
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push jwizerd/udagram-api-feed:v1.2
  - docker push jwizerd/udagram-api-user:v1.2
  - docker push jwizerd/udagram-frontend:v1.2
  - docker push jwizerd/udagram-reverseproxy:v1.2


